.search-base {
    margin: 81px auto 0;
    max-width: 1600px;
    display: block;

    /* change this */
    /* padding-bottom: 10000px; */
}

.row-base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.row-base::after {
    clear: both;
    content: " ";
    display: table;
}

.base-path {
    vertical-align: top;
    padding: 20px 0 0;
}

.base-path-list {
    padding-left: 0;
    margin: 0 0 0 25px;
    font-size: 14px;

    display: inline-block;
    vertical-align: top;
    overflow: hidden;

}

.base-path-list li {
    font-size: 14px;
    margin-right: 5px;

    float: left;
    line-height: 1;

    text-transform: capitalize;
}

.base-path-list li::after {
    margin-left: 5px;
    color: #282c3f;

    font-size: 14px;
    content: "/";
}

.base-path-list li a {
    color: #282c3f;

    text-decoration: none;
}

.base-path-list .last-li {
    color: rgb(40, 44, 63);
    font-family: 'bold';
}

.base-path-list .last-li::after {
    clear: both;
    content: " ";
    display: table;
}

.base-path-list .last-li span {
    font-size: 14px;
    margin: 0px;
}

/* row base  2 */

.title-container {
    margin: 10px 0 5px 25px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    overflow: hidden;
}

.title-container h1 {
    margin: 0;
    display: inline-block;
    font-family: 'bold';
    color: #282c3f;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 400px;
    white-space: nowrap;
}

.title-container span {
    margin: 0;
    font-size: 16px;
    color: #878b94;
    display: inline-block;
    white-space: pre-wrap;
}

/* sidebar starts from here in the desktop */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

.search-left-container {
    flex: 1 1 0%;
    min-width: 252px;
    max-width: 252px;
    flex-grow: 0 !important;
    /* padding-top: 23px; */

}

.search-left-container ul {
    margin: 0;
}

.search-left-container li {
    font-size: 14px;
    margin-bottom: 7px;
}

.column-base {
    
    align-self: flex-start;
}

.vertical-filters {
    margin-top: 0;
    padding-top: 23px;

}

.condition {
    position: static;
}

.vertical-filters-filters {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;

    border-bottom: 1px solid #e9e9ed;
    border-right: 1px solid #edebef;

    position: relative;
/*  */

}

.vertical-filters-filters:last-child {


    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.header-container {
    position: relative;

    border-right: none !important;
    padding-top: 0;

}

.header-title {
    font-family: 'bold';

}

.vertical-filter-header {


    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;


    color: #282c3f;
    font-family: 'bold';
    display: block;
    clear: both;

}

.category-container {
    position: relative;
    height: 115px;
}

.category-list {
    margin: 0;
    padding-left: 0;
}

.common-custom-checkbox {
    position: relative;
}

.vertical-filter-labels {
    display: block;
    width: 95%;

    min-height: 17px;
    color: #282c3f;

    
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.common-custom-checkbox input {
    margin: 0 13px 0 0;
    padding: 0;

    visibility: hidden;

}

.common-custom-checkbox .checkbox-text {
    color: #94969f;
    font-size: 11px;
    margin-left: 1px;
}

.common-checkbox-indicator {

    width: 16px;
    height: 16px;

    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid #c3c2c9;
    background: #fff;
    border-radius: 2px;
}

.common-checkbox-indicator::after {
    content: "";

    z-index: 1;
    width: 8px;
    height: 5px;

    position: absolute;
    top: 4px;
    left: 4px;

    

    border-color: #fff;

    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 2px;
    transform: rotate(-45deg);
}

.filter-searchbox {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 12px;
    right: 14px;
    
    background-color: #f5f5f6;
    border-radius: 50%;
}

.search-icon-filter {
    display: inline-block;

    position: absolute;
    right: 4px;
    top: 4px;

    transform: scale(.7);

    width: 21px;
    height: 21px;

    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-position: -754px 0;
    background-size: 1404px 105px;
}

.brand-more {
    margin-left: 27px;


    margin-top: 10px;
    font-size: 15px;
    color: #ff3f6c;
}

.slider-container {
    margin: 12px 0 4px;
}

.slider-wrapper {
    margin-right: 16px;
}

.slider-full {

    height: 12px;

    background-color: #fff;
    position: relative;
}

.slider-line {
    position: absolute;
    width: 100%;

    
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    height: 2px;
    background-color: #d4d5d9;
}

.slider-root-rail {
    position: absolute;
    top: 10px;
    height: 2px;
    top: 5px;
    background-color: #ff3f6c;
}

.slider-left-thumb,
.slider-right-thumb {
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ff3f6c;
    outline: none;
}

.slider-left-thumb {
    transform: translateX(-75%);

}

.slider-right-thumb {
    transform: translateX(-25%);

}

.slider-unda {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    top: 4px;
    left: 4px;
    position: absolute;
}

.slider-dot-container {
    /* margin top was initially 10px */


    margin: 11px -4px 0 4px;
    font-size: 12px;

    font-weight: normal;
    font-family: 'bold';

}

.slider-section .vertical-filter-header {
    margin-bottom: 0px;
}

.slider-section {
    height: 108px;
}


.colour-label {
    position: relative;
    height: 100%;

    line-height: 16px;
    vertical-align: top;
}

.colour-color-display {
    width: 15px;
    height: 15px;


    border-radius: 50%;
    display: inline-block;


    margin-right: 5px;
    margin-left: 27px;
}

.color-container .checkbox-text {
    margin-left: 4px;
}

/* discount */
.discount-list {
    padding-left: 0;
}


.common-custom-radio {
    position: relative;
    display: block;

    width: 95%;
    white-space: nowrap;
    min-height: 17px;


    overflow: hidden;
    text-overflow: ellipsis;
    color: #282c3f;
}

.common-custom-radio input {
    margin: 0 16px 0 0;
    padding: 0;

    visibility: hidden;
}

.common-radio-indicator {


    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;
    
    font-size: 14px;

}

.common-radio-indicator::before {
    box-sizing: border-box;
    padding: 0;

    content: "";

    
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    border: 1px solid #c3c2c9;
    border-radius: 50%;
    visibility: visible;
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    text-align: center;
}

.radio-text{
    display: inline-block;
    margin-left: -3px;
}