.desktop-search-results .vertical-arrangement {
    height: auto;
}


    .top-line-desktop{

    width: 100%;

    border-bottom: 1px solid #eaeaec;
    padding-bottom: 15px;
    padding-top: 23px;

    user-select: none;

}

.sort-container {

    float: right;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: -7px;

    position: relative;
    top: 5px;
}

.sort-box {

    padding: 9px 14px;
    font-size: 14px;

    color: #282c3f;

    position: relative;
    width: 255px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d4d5d9;
}

.sort-box span:nth-child(1) {


    text-transform: capitalize;
    font-family: 'bold';
    color: #282c3f;
}

.sort-box .down-arrow {



    float: right;
    width: 15px;
    height: 10px;

    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -367px -1px;
}

.as-filter {
    font-size: 14px;

    display: flex;
    color: #282c3f;


    flex-flow: row wrap;
    margin: -10px 0 0 16px;
}

.as-filter li {

    margin-right: 4px;
    margin-bottom: 0;
    margin-top: 10px;
}

.as-filter label {

    white-space: nowrap;
    position: relative;
    padding: 5px 8px 5px 10px;
}

.as-filter input {

    display: none;
    padding: 0;
    margin: 0;
    overflow: visible;
}

.as-filter h4 {

    padding-left: 0;
    font-weight: 400;
    margin: 0;
    display: inline-block;
}

.as-filter span {
    vertical-align: middle;
    transform: scale(.8);
    margin-left: 4px;

    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-position: -2679px -89px;

    width: 15px;
    height: 15px;

    background-size: 1404px 105px;
    display: inline-block;
}


/* search-results-section */

.search-product-container {

    padding-top: 24px;
    padding-left: 15px;
    padding-right: 20px;
}



.results-base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;



    margin: 0 -10px 0 3px;
    width: 100%;

    /* padding-left: 0; */
}

.li-of-product {

    width: 210px;
    margin: 0 10px 30px;

    text-align: left;
    position: relative;


    vertical-align: top;
    overflow: hidden;

    display: inline-block;
}



.product-ratings-container {
    z-index: 1;

    position: absolute;
    margin-left: 10px;
    margin-top: 250px;

    font-size: 12px;
    font-family: 'bold';

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 0 0 0 4px;
    background-color: hsla(0, 0%, 100%, .8);
}

.star-icon {

    margin-left: -2px;
    transform: scale(.55);

    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-position: -171px -28px;
    background-size: 1404px 105px;

    display: inline-block;
    width: 24px;
    height: 24px;
}

.product-rating-count {

    display: flex;
    padding-right: 4px;
}

.product-separator {

    font-size: 10px;
    margin: -.5px 6px 0 -2px;
}

.product-watermark {

    position: absolute;
    background-color: #a9abb3;

    border-radius: 2px;
    top: 9px;
    right: 10px;

    padding: 0 2px;
    font-size: 10px;
    color: #fff;
    z-index: 1;
}



.product-image-slider-container {

    position: relative;
    width: 210px;
    height: 280px;
}

.product-slider-container {

    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
}



.product-info {

    position: relative;
    z-index: 3;

    background: #fff;
    padding: 0 10px;
    height: 100%;

    margin-top: 12px;
    box-sizing: border-box;
    overflow: hidden;
}

.product-brand {
    font-size: 16px;
    font-family: 'bold';
    line-height: 1;


    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-product {
    padding-left: 0;
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;


    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* font-weight: 400; */
    /* font-family: 'bold'; */
    font-family: 'regular';
    font-weight: normal;

    display: block;
}

.product-sizes {
    padding-left: 0;
    font-size: 14px;
    color: #535665;
    line-height: 1;
    display: none;
    margin-top: 0;


    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    margin-bottom: 0;
    /* font-weight: 400; */
    /* font-family: 'bold'; */
    font-weight: normal;
    font-family: 'regular';



}

.product-sizes span {
    color: #535665;

}

.product-price {
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;


    white-space: nowrap;
    margin: 10px 0 6px;
    font-family: 'bold';
}

.product-discounted-price {
    font-size: 14px;
    /* font-weight: 700; */
    font-family: 'bold';
    color: #282c3f;
}

.product-strike {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: normal !important;
    font-family: 'regular';

    /* font-weight: 400; */
    /* font-family: 'bold'; */
    /* font-weight: normal; */
    margin-left: 2px;
    font-size: 12px;
}

.product-discount-percentage {
    color: #ff905a;
    /* font-weight: 400; */
    /* font-family: 'bold'; */
    font-family: 'regular';
    font-size: 12px;
    margin-left: 2.5px;
}

.sale-accelerator {
    font-size: 12px;

    color: #ff5722;
    font-family: 'bold';
    text-align: left;
}

/* pagination */



.pagination-container {
    list-style: none;
    text-align: center;

    border-top: 1px solid #edebef;
    padding-top: 24px;
    padding-bottom: 60px;

    color: #282c3f;
    padding-left: 0;
    margin: 16px 0;
}

.pagination-container li {
    display: inline-block;
    margin-right: 9px;

    font-family: 'bold';
    padding: 6px 8px;
    border-radius: 2px;
}

.pagination-disabled {
    pointer-events: none;
    opacity: .6;
}

.results-show-more-container .pagination-container .pagination-prev {
    height: 42px;
    border-radius: 4px;

    border: 1px solid #d4d5d9;
    text-align: center;

    margin-right: 64px;
    padding: 10px 22px;
}

.pagination-double-arrow-left {
    display: inline-block;

    position: relative;
    width: 16px;
    height: 8px;
    margin-right: 8px;
}

.pagination-double-arrow-left::before {

    box-sizing: border-box;
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 8px;
    height: 8px;

    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(224deg);
}

.pagination-double-arrow-left::after {

    box-sizing: border-box;

    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    width: 8px;
    height: 8px;

    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    transform: rotate(224deg);
}

.pagination-arrow-left {
    margin-right: 8px;
    transform: rotate(224deg);

    margin-left: 2px;
    display: inline-block;
    width: 8px;
    height: 8px;

    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    margin-bottom: 1px;
}

.results-show-more-container .pagination-container .pagination-page-number {
    color: #535766;
    font-size: 14px;

    margin-top: 6px;
    margin-right: 10px;
    font-family: 'regular';

}

.results-show-more-container .pagination-container .pagination-next {
    height: 42px;
    border-radius: 4px;

    border: 1px solid #d4d5d9;
    text-align: center;
    margin-left: 64px;

    padding: 10px 22px;
    display: inline-block;
    margin-right: 9px;
}

.pagination-arrow-right {
    display: inline-block;
    width: 8px;
    height: 8px;

    border: solid #282c3f;
    border-width: 2px 2px 0 0;
    margin-bottom: 1px;
    margin-left: 8px;

    transform: rotate(45deg);
    margin-right: 2px;
}