.search-right-container {}

.desktop-search-results .row-base{
    height: auto;
}


.horizontal-filter-base {
    user-select: none;
    border-bottom: 1px solid #eaeaec;
    padding-bottom: 15px;
    padding-top: 23px;
    width: 100%;
}

.sort-container {
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-bottom: 0;
    margin-top: -7px;
    position: relative;
    top: 5px;
}

.sort-box {
    padding: 9px 14px;
    font-size: 14px;
    color: #282c3f;
    cursor: pointer;
    position: relative;
    width: 255px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #d4d5d9;
}

.sort-box span:nth-child(1) {
    text-transform: capitalize;
    font-family: 'bold';
    color: #282c3f;
}

.sort-box .down-arrow {
    margin-left: 5px;
    margin-top: 5px;
    float: right;
    width: 15px;
    height: 10px;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    background-position: -367px -1px;
}

.as-filter {
    font-size: 14px;

    display: flex;
    color: #282c3f;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;

    flex-flow: row wrap;
    margin: -10px 0 0 16px;
}

.as-filter li {
    margin-right: 4px;
    margin-bottom: 0;
    margin-top: 10px;
    cursor: pointer;
}

.as-filter label {
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    padding: 5px 8px 5px 10px;
}

.as-filter input {
    display: none;
    padding: 0;
    margin: 0;
    overflow: visible;
}

.as-filter h4 {
    padding-left: 0;
    font-weight: 400;
    margin: 0;
    display: inline-block;
}

.as-filter span {
    vertical-align: middle;
    transform: scale(.8);
    margin-left: 4px;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-position: -2679px -89px;
    width: 15px;
    height: 15px;
    background-size: 1404px 105px;
    display: inline-block;
}


/* search-results-section */

.search-product-container {
    padding-top: 24px;
    padding-left: 15px;
    padding-right: 20px;
}

.row-base{

}

.results-base {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    margin: 0 -10px 0 3px;
    width: 100%;
    justify-content: space-between;
    /* padding-left: 0; */
}

.product-base {
    width: 210px;
    text-align: left;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 10px 30px;
}

.product-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 210px;
    background-color: #282c3f;
        visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.product-ratings-container {
    z-index: 1;
    position: absolute;
    margin-left: 10px;
    margin-top: 250px;
    font-size: 12px;
    font-family: 'bold';
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    padding: 0 0 0 4px;
    background-color: hsla(0, 0%, 100%, .8);
} 

.star-icon {
    margin-left: -2px;
    transform: scale(.55);
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-position: -171px -28px;
    background-size: 1404px 105px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.product-rating-count {
    display: flex;
    padding-right: 4px;
}

.product-separator {
    font-size: 10px;
    margin: -.5px 6px 0 -2px;
}

.product-watermark {
    position: absolute;
    background-color: #a9abb3;
    border-radius: 2px;
    top: 9px;
    right: 10px;
    padding: 0 2px;
    font-size: 10px;
    color: #fff;
    z-index: 1;
}

.product-thumb a {}

.product-image-slider-container {
    position: relative;
    width: 210px;
    height: 280px;
}

.product-slider-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.img-responsive {}

.product-info {
    position: relative;
    z-index: 3;
    background: #fff;
    padding: 0 10px;
    height: 100%;
    margin-top: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.product-brand {
    font-size: 16px;
    font-family: 'bold';
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-product {
    padding-left: 0;
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* font-weight: 400; */
    /* font-family: 'bold'; */
    font-family: 'regular';
    font-weight: normal;

    display: block;
}

.product-sizes {
    padding-left: 0;
    font-size: 14px;
    color: #535665;
    line-height: 1;
    display: none;
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0;
    margin-bottom: 0;
    /* font-weight: 400; */
    /* font-family: 'bold'; */
    font-weight: normal;
    font-family: 'regular';



}

.product-sizes span {
    color: #535665;
}

.product-price {
    font-size: 14px;
    line-height: 15px;
    color: #282c3f;
    white-space: nowrap;
    margin: 10px 0 6px;
    font-family: 'bold';
}

.product-discounted-price {
    font-size: 14px;
    /* font-weight: 700; */
    font-family: 'bold';
    color: #282c3f;
}

.product-strike {
    text-decoration: line-through;
    color: #7e818c;
    font-weight: normal !important;
    font-family: 'regular';

    /* font-weight: 400; */
    /* font-family: 'bold'; */
    /* font-weight: normal; */
    margin-left: 2px;
    font-size: 12px;
}

.product-discount-percentage {
    color: #ff905a;
    /* font-weight: 400; */
    /* font-family: 'bold'; */
    font-family: 'regular';
    font-size: 12px;
    margin-left: 2.5px;
}

.sale-accelerator{
    font-size: 12px;
    color: #ff5722;
    font-family: 'bold';
    text-align: left;
}

/* pagination */

.results-show-more-container{

}

.pagination-container{

}

.pagination-disabled{

}

.pagination-prev{

}

.pagination-double-arrow-left{

}

.pagination-arrow-left{

}

.pagination-page-number{

}

.pagination-next{

}

.pagination-arrow-right{
    
}